@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");

A {
  color: #6b705c #a5a58d #b7b7a4 #ffe8d6 #ddbea9 #cb997e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: #a5a58d;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  color: #000000;
  background-color: #6b705c;
}

.nav-links a {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.nav-links a:hover,
.menu li:hover {
  color: #a5a58d;
  transition: 0.3s ease;
  background-color: #6b705c;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  background-color: #6b705c;
  padding: 1em 0;
  position: absolute;
  top: 40px;
  display: none;
  border-radius: 8px;
}

.dropdown li+li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #6b705c;
}

.services:hover .dropdown {
  display: block;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;
}